.container_header1{
    font-size: 100px;
    text-align: center;
    margin-top: 20px;

}

body{
    background-color: rgb(81, 69, 69);
    color: peachpuff;
}

.headerimg{
    width:100%;
    height: auto;
    display: block;
    position: relative;
    left: 0;

}

.navig_tab{
    background-color: rgb(23, 14, 14);
    overflow: hidden;

}

.navig_tab a{
    float:right;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 10px;
    

}

.navig_tab a:hover{
    background-color: aliceblue;
    color: black;
    text-decoration: underline;
}

.navig_tab a.active{
    background-color: antiquewhite;
    color: black;

}

.nav_container{
    position: relative;
    text-align: center;
    color: peachpuff;
}

.container_header1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'Lobster', cursive;
    flex: content;
    justify-content: center;
}



.container_header2{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.order{
    font-size: 50px;
    text-align: center;
    margin: 70px;
    font-weight: bold;
    margin-left: 0px;

    animation: order 1s linear 2s 5 normal ;

}
@keyframes order {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}




.cake_img{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width:200px  ;
    height: 200px;
    

}

.cake_info{
    width: 200px;
    

}

.cake_grid{
    display: inline-block;
    vertical-align: top  ;
    margin: 50px;
    margin-left: 100px;
    padding: 50px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}





.contact{
    font-size: 30px;
    text-align: center;
    display:block;
    margin: 100px;
    padding: 100px;
    line-height: 60px;
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.sign_up{
    font-size: 30px;
    text-align: center;
    display:block;
    margin: 100px;
    padding: 100px;
    padding-top: 0px;
    line-height: 60px;
    margin-bottom: 0px;
    padding-bottom: 40px;

}


    
.mail_box{
    text-align: center;
    margin-bottom: 100px;

}

.input_box{
    font-size: 30px;
    border-radius: 18px;

}

.input_box::placeholder{
    font-size: 28px;
    text-align: center;
    color: brown;

}

.sign_button{
    background-color: rgb(222, 125, 15);
    color: white;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: box-shadow 0.15s;
    vertical-align: top;
}

.sign_button:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}





table{
    width: 500px;
    border: solid;


    
}

th{
    font-size: 23px;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

td{
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid #ddd;

}

tr{
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}


.table_div{
    display: inline-block;
    margin-left: 30px;
}



.price_list{
    margin-left: 200px;
    font-size: 30px;
    font-weight: bold;
}

.delivery{
    font-size: 20px;
    text-align: justify;
    float: right;
    margin-right: 20px;
    line-height: 30px;

}

ul{
    line-height: 35px;
    font-size: 25px;
}

.social{
    text-align: center;
    font-size: 20px;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    border-radius: 15px;
    
  }

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-reddit {
    background: #ff5700;
    color: white;
  }

  footer{
    text-align: center;
    background-color: rgb(214, 160, 9);
    margin-bottom: 0px;
    color: beige;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    font-size: 20px;
    padding: 5px;
}